body {
  color: $txt-primary-color;
  font-family: 'Montserrat', 'Seymour One', 'Inter', 'Roboto', sans-serif;

  // padding-top: 61px;

  // @media screen and (min-width: 768px) {
  //   padding-top: 86px;
  // }

  // @media screen and (min-width: 1200px) {
  //   padding-top: 81px;
  // }
}

.no-scroll {
  overflow: hidden;
  overflow-y: hidden;
}

.scroll-no-menu {
  overflow: hidden;
  overflow-y: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;

  @media screen and (max-width: 319px) {
    width: 320px;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
