/* Головна палітра кольорів */
$txt-primary-color: #131313;
$txt-secondary-color: #fcfcfc;
$txt-accent-color: #f8d24e;
$txt-white-color: #ffffff;
$txt-black-color: #000000;
$txt-address-color: #d6936d;
$txt-disabled-color: #ababab;

/* Кольори кнопок */
$btn-def-color: #f8d24e;
$btn-accent-color: #0a8817;
$btn-disabled-color: #ababab;

/* Фонові кольори */
$bg-primary-color: #84a178;
$bg-secondary-color: #84a278;
$bg-input-color: rgba(248, 210, 78, 0.1);
$bg-modal-location-color: #fcfcfc;

/* Фонові кольори "Section Products" */
$bg-cream-color: #aec6a5;
$bg-coffe-color: #efd478;
$bg-shake-color: #d6936d;
$bg-component-color: #9cbe8f;

/* Додаткові кольори "Section Products" */

$bd-primary-color: #e1e1e1;
$shadow-color: rgba(212, 20, 67, 0.1);

/* Фонові кольори "Section Advantages" */
$bg-png-color: #f8d24e;

/* Фонові кольори "Section locations modal */
$frame-modal-color: #f8d24e;

/* OTHER */
$sm: 480px;
$md: 768px;
$lg: 1200px;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
