<section class="about" id="about">
  <div class="container">
    <h2 class="about__title" id="how">tradition and love</h2>
    <h3 class="about__subtitle">how it’s made?</h3>
    <div class="about__tablet">
      <div class="about__background">
        <img
          class="about__img"
          srcset="
            ./images/content-img/about/about_480@1x.png  278w,
            ./images/content-img/about/about_480@2x.png  556w,
            ./images/content-img/about/about_768@1x.png  335w,
            ./images/content-img/about/about_768@2x.png  670w,
            ./images/content-img/about/about_1200@1x.png 490w,
            ./images/content-img/about/about_1200@2x.png 980w
          "
          sizes="(min-width: 1200px) 490px, (min-width: 768px) 335px, (min-width: 320px) 278px, 100vw"
          src="./images/content-img/about/about_480@1x.png"
          alt="Корова"
        />
      </div>
      <div class="about__text-box">
        <div class="about__description">
          <p class="about__text">
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </p>

          <p class="about__text">
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </p>

          <p class="about__text">
            This is enough to choose ice cream and coffee for any mood!
          </p>
        </div>
        <div class="about__btn">
          <button class="btn js-open-modal" type="button" data-modal="3">
            Read more
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
