<section class="advantages">
    <div class="container advantages__box ">
        <h2 class="visually-hidden">Crawlers list</h2>
        <ul class="advantages__list">
            <li class="advantages__item cow__img">
                <p class="advantages__quantity">721</p>
                <p class="advantages__subtitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item gantel__img">
                <p class="advantages__quantity">16kg</p>
                <p class="advantages__subtitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item ice__img">
                <p class="advantages__quantity">84</p>
                <p class="advantages__subtitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>