<section class="advantages">
    <div class="advantages__container">
        <h2 class="visually-hidden">crawlers list</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <b class="advantages__text">721</b>
                <p class="advantages__subtitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <b class="advantages__text">16kg</b>
                <p class="advantages__subtitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <b class="advantages__text">84</b>
                <p class="advantages__subtitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>