<section class="contacts" id="contact">
  <div class="container">
    <h2 class="visually-hidden">CONTACTS</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <div class="contacts__grid contacts__block">
          <h3 class="contacts__undertitle">Chicago</h3>
          <a
            class="contacts__link"
            href="https://goo.gl/maps/v2dM3mjJmmCSgPEV6"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            10340 Ridgeland Ave,<br class="br" />
            Chicago Ridge, IL 60415, USA</a
          >
        </div>
        <ul class="contacts-workday contacts__grid">
          <li class="contacts-workday__item">
            <p class="contacts-workday__days">Monday - Friday</p>
            <time class="contacts-workday__time" datetime="06:00">06:00 AM</time
            >-<time class="contacts-workday__time" datetime="10:00"
              >10:00 PM</time
            >
          </li>
          <li class="contacts-workday__item">
            <p class="contacts-workday__days">Saturday - Sunday</p>
            <time class="contacts-workday__time" datetime="08:00">08:00 AM</time
            >-<time class="contacts-workday__time" datetime="16:00"
              >16:00 PM</time
            >
          </li>
        </ul>
        <ul class="contacts-address">
          <li class="contacts-address__list">
            <a class="contacts-address__list--tel" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-address__list">
            <a
              class="contacts-address__list--mail"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__category">FOOD TRUCK</p>
        <div class="contacts__grid contacts__block">
          <h3 class="contacts__undertitle">Los Angeles</h3>
          <a
            class="contacts__link"
            href="https://goo.gl/maps/tXGYJQfymRs2nhHm6"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            1003 Manhattan Ave, Manhattan<br class="br" />
            Beach, CA 90263, USA</a
          >
        </div>
        <ul class="contacts-workday contacts__grid">
          <li class="contacts-workday__item">
            <p class="contacts-workday__days">Monday - Friday</p>
            <time class="contacts-workday__time" datetime="06:00">06:00 AM</time
            >-<time class="contacts-workday__time" datetime="10:00"
              >10:00 PM</time
            >
          </li>
          <li class="contacts-workday__item">
            <p class="contacts-workday__days">Saturday - Sunday</p>
            <time class="contacts-workday__time" datetime="08:00">08:00 AM</time
            >-<time class="contacts-workday__time" datetime="16:00"
              >16:00 PM</time
            >
          </li>
        </ul>
        <ul class="contacts-address">
          <li class="contacts-address__list">
            <a class="contacts-address__list--tel" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-address__list">
            <a
              class="contacts-address__list--mail"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <div class="contacts__grid contacts__block">
          <h3 class="contacts__undertitle">New York</h3>
          <a
            class="contacts__link"
            href="https://goo.gl/maps/B7k79pDubCNzNED19"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            726 Sterling Pl, Brooklyn,<br class="br" />
            NY 11222, USA</a
          >
        </div>
        <ul class="contacts-workday contacts__grid">
          <li class="contacts-workday__item">
            <p class="contacts-workday__days">Monday - Friday</p>
            <time class="contacts-workday__time" datetime="06:00">06:00 AM</time
            >-<time class="contacts-workday__time" datetime="10:00"
              >10:00 PM</time
            >
          </li>
          <li class="contacts-workday__item">
            <p class="contacts-workday__days">Saturday - Sunday</p>
            <time class="contacts-workday__time" datetime="08:00">08:00 AM</time
            >-<time class="contacts-workday__time" datetime="16:00"
              >16:00 PM</time
            >
          </li>
        </ul>
        <ul class="contacts-address">
          <li class="contacts-address__list">
            <a class="contacts-address__list--tel" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-address__list">
            <a
              class="contacts-address__list--mail"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-buttons">
      <li class="contacts-buttons__item">
        <button
          type="button"
          class="btn btn-contacts js-open-modal"
          data-modal="2"
        >
          Our Locations
        </button>
      </li>
      <li class="contacts-buttons__item">
        <button
          type="button"
          class="btn--transparent btn-contacts js-open-modal"
          data-modal="1"
        >
          Franchise
        </button>
      </li>
    </ul>
  </div>
</section>
