<section class="team">
  <div class="container">
    <h2 class="visually-hidden">Our team</h2>
    <ul class="team__list">
      <li class="team__item">
        <img
          src="./images/content-img/team/michael@1x.jpg"
          srcset="
            ./images/content-img/team/michael@1x.jpg 1x,
            ./images/content-img/team/michael@1x.jpg 2x
          "
          alt="Michael Yervachov"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I can't imagine my life without ice-cream. That's a love forever! But
          here I found tasty milkshakes as well. So now I can find everything I
          need to order for spending my time with great pleasure at one place
          with delivery exactly home!
        </p>
        <p class="team__name">Michael</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/roman@1x.jpg"
          srcset="
            ./images/content-img/team/roman@1x.jpg 1x,
            ./images/content-img/team/roman@2x.jpg 2x
          "
          alt="Roman"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          When can you pause the life around you ? When you have time to dream,
          fantasize and remember the happy past, feel the pleasant taste and
          exciting aroma. Off course over a cup of coffee and I am always glad
          for this opportunity.
        </p>
        <p class="team__name">Roman</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/dmytro@1x.jpg"
          srcset="
            ./images/content-img/team/dmytro@1x.jpg 1x,
            ./images/content-img/team/dmytro@2x.jpg 2x
          "
          alt="Dmitry"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I'm a big fun of your hubba bubba ice cream because it tastes like
          childhood to me as I used to love hubba bubba chewing gum as a child.
          Also, your ice lollies are incredible and the most refreshing ones for
          hot summer days!
        </p>
        <p class="team__name">Dmitry</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/helen@1x.jpg"
          srcset="
            ./images/content-img/team/helen@1x.jpg 1x,
            ./images/content-img/team/helen@2x.jpg 2x
          "
          alt="Helen"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          Here everyone can find that taste of ice cream which they wanna. Cus
          there more than 50 types of ice cream. If you need something more you
          also can choose delicious coffee for your self. I prefer a cup of
          espresso in the morning and one scoop of ice cream.
        </p>
        <p class="team__name">Helen</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/iryna@1x.jpg"
          srcset="
            ./images/content-img/team/iryna@1x.jpg 1x,
            ./images/content-img/team/iryna@2x.jpg 2x
          "
          alt="Iryna"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I`m a coffee lover. I just love it compleatly, every grain of it. But
          now it`s coffee with ice-cream. So no more words, only love.
        </p>
        <p class="team__name">Iryna</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/nadiya@1x.jpg"
          srcset="
            ./images/content-img/team/nadiya@1x.jpg 1x,
            ./images/content-img/team/nadiya@2x.jpg 2x
          "
          alt="Nadya"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I really like to drink a cup of ice-coffee on a hot summer day. But
          ice cream, I can eat all year round, regardless of the weather.
        </p>
        <p class="team__name">Nadya</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/vitalii@1x.jpg"
          srcset="
            ./images/content-img/team/vitalii@1x.jpg 1x,
            ./images/content-img/team/vitalii@2x.jpg 2x
          "
          alt="Vitalii Gritsun"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          It is for me that the quality of ice-cream and dairy products is very
          important, so i choose this establishment, as it meets all the
          criteria of my requirements. Delicious and healthy ice-cream,
          delicious milkshakes and incredible ice-coffee.
        </p>
        <p class="team__name">Vitalii</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/vlad@1x.jpg"
          srcset="
            ./images/content-img/team/vlad@1x.jpg 1x,
            ./images/content-img/team/vlad@2x.jpg 2x
          "
          alt="Vlad"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          For me, I really like ice cream. What do you like about ice cream? Its
          just ice cream! I can tell you all about it. A yummy thing with
          countless flavors. I can't imagine a more beautiful thing. Just ice
          cream but how much pleasure it brings.
        </p>
        <p class="team__name">Vladyslav</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/team/alina@1x.jpg"
          srcset="
            ./images/content-img/team/alina@1x.jpg 1x,
            ./images/content-img/team/alina@2x.jpg 2x
          "
          alt="Alina"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Alina</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/team/oleksandr@1x.jpg"
          srcset="
            ./images/content-img/team/oleksandr@1x.jpg 1x,
            ./images/content-img/team/oleksandr@2x.jpg 2x
          "
          alt="Oleksandr"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          Ice-cream is favorite delicacy of the children and then this product
          is an important part their diet. And we as a parents have to take care
          about health our children. I prefer only naturals food for our
          children this is why I chose this company because I am sure of quality
          of these products. And I am buy ice coffee for myself here too.
        </p>
        <p class="team__name">Oleksandr</p>
      </li>
    </ul>
    <div class="slick-group">
      <button type="button" class="btn__slick-prev" aria-label="slick previous">
        <svg class="btn-slick__icon" width="40" height="40">
          <use href="./images/icon-img/sprite.svg#arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="btn__slick-next" aria-label="slick next">
        <svg class="btn-slick__icon" width="240" height="24">
          <use href="./images/icon-img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
