<section class="team">
  <div class="container">
    <ul class="team__list">
      <li class="team__item">
        <img
          src="./images/content-img/team/michael.jpg"
          alt="Michael Yervachov"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Michael Yervachov</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/roman.jpg"
          alt="Roman Kosharniy"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Roman Kosharniy</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/dmytro.jpg"
          alt="Dmitriy"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Dmitriy</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/helen.jpg"
          alt="Helen"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Helen</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/iryna.jpg"
          alt="Iryna"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Iryna</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/nadiya.jpg"
          alt="Nadya"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Nadya</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/vitalii.jpg"
          alt="Vitalii Gritsun"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Vitalii Gritsun</p>
      </li>

      <li class="team__item">
        <img
          src="./images/content-img/team/vlad.jpg"
          alt="Vlad"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Vlad</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/team/dmytro.jpg"
          alt="Alina"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Alina</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/team/oleksandr-1.jpg"
          alt="Oleksandr Siriy"
          class="team__img"
          width="100"
          height="100"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Oleksandr Siriy</p>
      </li>
    </ul>
    <div class="slick-group">
      <button type="button" class="btn__slick-prev">
        <svg class="btn-slick__icon" width="40" height="40">
          <use href="./images/icon-img/sprite.svg#arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="btn__slick-next">
        <svg class="btn-slick__icon" width="240" height="24">
          <use href="./images/icon-img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
