<section class="team">
  <div class="container">
    <ul class="team__list">
      <li class="team__item">
        <img
          src="./images/content-img/customers-reviews/customersreviews-1@1x.jpg"
          alt="Michael Yervachov"
          class="team__img"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Michael Yervachov</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/customers-reviews/customersreviews-1@1x.jpg"
          alt="Roman Kosharniy"
          class="team__img"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Roman Kosharniy</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/customers-reviews/customersreviews-1@1x.jpg"
          alt="Dmitriy"
          class="team__img"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Dmitriy</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/customers-reviews/customersreviews-1@1x.jpg"
          alt="Helen"
          class="team__img"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Helen</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/customers-reviews/customersreviews-1@1x.jpg"
          alt="Iryna"
          class="team__img"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Iryna</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/customers-reviews/customersreviews-1@1x.jpg"
          alt="Nadya"
          class="team__img"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Nadya</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/customers-reviews/customersreviews-1@1x.jpg"
          alt="Vitalii Gritsun"
          class="team__img"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Vitalii Gritsun</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/customers-reviews/customersreviews-1@1x.jpg"
          alt="Vlad"
          class="team__img"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Vlad</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/customers-reviews/customersreviews-1@1x.jpg"
          alt="Alina"
          class="team__img"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Alina</p>
      </li>
      <li class="team__item">
        <img
          src="./images/content-img/customers-reviews/customersreviews-1@1x.jpg"
          alt="Oleksandr Siriy"
          class="team__img"
        />
        <p class="team__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="team__name">Oleksandr Siriy</p>
      </li>
    </ul>
    <button type="button" class="btn__slick-prev">Previous</button>
    <button type="button" class="btn__slick-next">Next</button>
  </div>
</section>
