<footer class="footer">
  <div class="container">
    <div class="footer__column">
      <!-- дубльований заголовок -->
      <div class="footer__group">
        <p class="footer__subtitle-lg">homemade ice cream made</p>
        <p class="footer__subtitle-sm">with passion</p>
      </div>
      <!-- social media -->
      <div class="footer-social-wrapper">
        <ul class="footer-social__list">
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://github.com/"
              target="_blank"
              rel="nofollow noopener noreffer"
              aria-label="github"
            >
              <svg class="footer-social__icon" width="32" height="32">
                <use href="./images/icon-img/sprite.svg#github_icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://www.telegram.com/"
              target="_blank"
              rel="nofollow noopener noreffer"
              aria-label="telegram"
            >
              <svg class="footer-social__icon" width="32" height="32">
                <use href="./images/icon-img/sprite.svg#telegram_icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="nofollow noopener noreffer"
              aria-label="facebook"
            >
              <svg class="footer-social__icon" width="32" height="32">
                <use href="./images/icon-img/sprite.svg#facebook_icon"></use>
              </svg>
            </a>
          </li>
        </ul>

        <!-- contact -->
        <p class="footer-contact">
          Feel free to contact &ensp;
          <a class="footer-contact__link" href="tel:+610383766284">
            +61(0)383766284</a
          >
        </p>
      </div>
    </div>
    <p class="footer-aside__title">
      &#169; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
