<footer>
  <div class="container">
    <!-- дубльований заголовок -->
    <div class="footer-text">
      <p class="footer-text__title">homemade ice cream made</p>
      <p class="footer-text__title">with passion</p>
    </div>
    <!-- social media -->
    <div class="footer-social">
      <ul class="footer-social__list">
        <li class="footer-social__item">
          <a class="footer-social__link" aria-label="github">
            <svg class="footer-social__icon" width="20" height="20">
              <use href="./images/icon-img/sprite.svg#github_icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <ul class="footer-social__list">
        <li class="footer-social__item">
          <a class="footer-social__link" aria-label="telegram">
            <svg class="footer-social__icon" width="20" height="20">
              <use href="./images/icon-img/sprite.svg#telegram_icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <ul class="footer-social__list">
        <li class="footer-social__item">
          <a class="footer-social__link" aria-label="facebook">
            <svg class="footer-social__icon" width="20" height="20">
              <use href="./images/icon-img/sprite.svg#facebook_icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!-- address -->
    <address class="footer-contact">
      <a
        class="footer-contact__link"
        href="Feel free to contact +61 (0) 383 766 284"
        >Feel free to contact +61 (0) 383 766 284</a
      >
    </address>
    <div class="footer-aside">
      <svg class="footer-aside_icon" width="1167" height="0">
        <use href="./images/icon-img/sprite.svg#footer_vector"></use>
      </svg>
      <p class="footer-aside_title">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
