<div class="modal" data-modal="1">
  <!--   Svg иконка для закрытия окна  -->
  <!-- <svg
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg> -->

  <!-- <div class="fr-modal"> -->
  <button class="fr-modal__close js-modal-close" type="button">
    <svg class="fr-modal__close--icon" width="11" height="11">
      <use href="./images/icon-img/sprite.svg#vector"></use>
    </svg>
  </button>
  <form class="fr-form" name="franchise">
    <h2 class="fr-form__header">
      Thank you for your interest in owning an Ice Cream shop
    </h2>
    <p class="fr-form__text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <input
      class="fr-form__input"
      type="text"
      name="user-name"
      placeholder="Name"
      required
      pattern="^[a-zA-Z]+"
      title="Name must be only one word."
    />
    <input
      class="fr-form__input"
      type="tel"
      name="phone-number"
      placeholder="Phone"
      required
      pattern="^(?=.*\d)(?!.*\s).*$"
      title="Must be only phone-number."
    />
    <input
      class="fr-form__input"
      type="email"
      name="email"
      placeholder="Email"
      required
      pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
      title="Must be only email."
    />
    <textarea
      class="fr-form__textarea"
      name="coment"
      rows="2"
      placeholder="Comment"
    ></textarea>
    <button class="fr-form__button" type="submit">Submit</button>
  </form>
  <!-- </div> -->
</div>
