<div class="backdrop is-hidden" data-modal>
<div class="modal">
    <button class="modal-button" type="button" data-modal-close>
        <svg width="11" height="11">
          <use href="../images/icon-img/sprite.svg#vector"></use>
        </svg>
      </button>
      <form class="register-form" name="register-form">
        <strong class="register-form__title">
            Thank you for your interest in owning an Ice Cream shop
        </strong>
        <p>Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.
        </p>
      </form>
        <div class="register-form__group" role="group">
            <label class="register-form__field">
              <span class="register-form__label">Name</span>
              <span class="register-form__span">
                <input
                  class="register-form__input"
                  type="text"
                  name="user-name"
                  required
                />
              </span>
            </label>
            <label class="register-form__field">
              <span class="register-form__label">Phone</span>
              <span class="register-form__span">
                <input
                  class="register-form__input"
                  type="text"
                  name="user-phone"
                  required
                  minlength="13"
                  maxlength="13"
                />
              </span>
            </label>
            <label class="register-form__field">
              <span class="register-form__label">Email</span>
              <span class="register-form__span">
                <input
                  class="register-form__input"
                  type="email"
                  name="user-email"
                  required
                />
              </span>
            </label>
            <label class="register-form__field">
              <span class="register-form__label">Comment</span>
              <textarea
                class="register-form__message"
                name="user-message"
                rows="5"
                placeholder="Comment">
            </textarea>
            </label>
          </div>
          <button class="register-form__button btn" type="submit">
            Submit
          </button>
</div>
</div>

<script src="../js/modal.js"></script>