<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/content-img/gallery/gallery-1_480@1x.jpg   279w,
            ./images/content-img/gallery/gallery-1_480@2x.jpg   558w,
            ./images/content-img/gallery/gallery-1_768@1x.jpg   704w,
            ./images/content-img/gallery/gallery-1_768@2x.jpg  1408w,
            ./images/content-img/gallery/gallery-1_1200@1x.jpg 1013w,
            ./images/content-img/gallery/gallery-1_1200@2x.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 279px, 100vw"
          src="./images/content-img/gallery/gallery-1_480@1x.jpg"
          alt="ice-cream picture "
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/content-img/gallery/gallery-2_480@1x.jpg   279w,
            ./images/content-img/gallery/gallery-2_480@2x.jpg   558w,
            ./images/content-img/gallery/gallery-2_768@1x.jpg   704w,
            ./images/content-img/gallery/gallery-2_768@2x.jpg  1408w,
            ./images/content-img/gallery/gallery-2_1200@1x.jpg 1013w,
            ./images/content-img/gallery/gallery-2_1200@2x.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 279px, 100vw"
          src="./images/content-img/gallery/gallery-2_480@1x.jpg"
          alt="ice-cream picture "
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/content-img/gallery/gallery-3_480@1x.jpg   279w,
            ./images/content-img/gallery/gallery-3_480@2x.jpg   558w,
            ./images/content-img/gallery/gallery-3_768@1x.jpg   704w,
            ./images/content-img/gallery/gallery-3_768@2x.jpg  1408w,
            ./images/content-img/gallery/gallery-3_1200@1x.jpg 1013w,
            ./images/content-img/gallery/gallery-3_1200@2x.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 279px, 100vw"
          src="./images/content-img/gallery/gallery-3_480@1x.jpg"
          alt="ice-cream picture "
        />
      </li>
    </ul>
    <button
      type="button"
      class="btn__slick-left"
      aria-label="slick previous"
    ></button>
    <button
      type="button"
      class="btn__slick-right"
      aria-label="slick next"
    ></button>
  </div>
</section>
