<header class="header">
  <div class="container">
    <a href="./index.html" class="logo">
      <svg class="logo__icon" width="60" height="65">
        <use href="./images/icon-img/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="#home" class="header__link">Home</a>
        </li>
        <li class="header__item">
          <a href="#how" class="header__link">How it’s made?</a>
        </li>
        <li class="header__item">
          <a href="#products" class="header__link">Our products</a>
        </li>
        <li class="header__item">
          <a href="#contact" class="header__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="btn">Buy now</button>
    <button class="btn-burger">
      <svg class="btn-burger__icon" width="60" height="65">
        <use href="./images/icon-img/sprite.svg#burger"></use>
      </svg>
    </button>
  </div>
</header>
