<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="logo">
      <picture>
        <!-- desktop -->
        <source
          media="(min-width:1200px)"
          srcset="
            ./images/icon-img/logo/logo_1200@1x.png 1x,
            ./images/icon-img/logo/logo_1200@2x.png 2x
          "
          type="image/png"
        />

        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/icon-img/logo/logo_768@1x.png 1x,
            ./images/icon-img/logo/logo_768@2x.png 2x
          "
          type="image/png"
        />

        <!-- mobile -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/icon-img/logo/logo_480@1x.png 1x,
            ./images/icon-img/logo/logo_480@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="logo__img"
          src="./images/icon-img/logo/logo_480@1x.png"
          alt="logo"
        />
      </picture>
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="#home" class="header__link">Home</a>
        </li>
        <li class="header__item">
          <a href="#how" class="header__link">How it’s made?</a>
        </li>
        <li class="header__item">
          <a href="#products" class="header__link">Our products</a>
        </li>
        <li class="header__item">
          <a href="#contact" class="header__link">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="header__buttons">
      <button class="btn-burger">
        <svg class="btn-burger__icon" width="32" height="32">
          <use href="./images/icon-img/sprite.svg#burger"></use>
        </svg>
      </button>
      <button class="btn header__btn">Buy now</button>
    </div>
  </div>
</header>

<div class="modal-form">
  <form class="buy-form">
    <h2 class="buy-form__header">Buy now</h2>

    <input class="buy-form__check" type="checkbox" id="buy-cream" />
    <label class="buy-form__item buy-form__item--color-gr" for="buy-cream">
      <div class="buy-form__box buy-form__box--color-gr">
        <img
          class="buy-form__img"
          srcset="
            ./images/content-img/buynow-modal/buynowmodal-1@1x.png 1x,
            ./images/content-img/buynow-modal/buynowmodal-1@2x.png 2x
          "
          src="./images/content-img/buynow-modal/buynowmodal-1@1x.png"
          alt="three different ice creams"
        />
      </div>
      <h3 class="buy-form_subtitle">ice cream</h3>
    </label>

    <input class="buy-form__check" type="checkbox" id="buy-ice" />
    <label class="buy-form__item buy-form__item--color-or" for="buy-ice">
      <div class="buy-form__box buy-form__box--color-or">
        <img
          class="buy-form__img"
          srcset="
            ./images/content-img/buynow-modal/buynowmodal-2@1x.png 1x,
            ./images/content-img/buynow-modal/buynowmodal-2@2x.png 2x
          "
          src="./images/content-img/buynow-modal/buynowmodal-2@1x.png"
          alt="a glass of milk coffee with ice"
        />
      </div>
      <h3 class="buy-form_subtitle">ice coffee</h3>
    </label>

    <input class="buy-form__check" type="checkbox" id="buy-milk" />
    <label class="buy-form__item buy-form__item--color-br" for="buy-milk">
      <div class="buy-form__box buy-form__box--color-br">
        <img
          class="buy-form__img"
          srcset="
            ./images/content-img/buynow-modal/buynowmodal-3@1x.png 1x,
            ./images/content-img/buynow-modal/buynowmodal-3@2x.png 2x
          "
          src="./images/content-img/buynow-modal/buynowmodal-3@1x.png"
          alt="a glass of milkshake"
        />
      </div>
      <h3 class="buy-form_subtitle">milkshakes</h3>
    </label>

    <input
      class="buy-form__input"
      type="text"
      name="user-name"
      placeholder="Name"
      required
      pattern="^[a-zA-Z]+"
      title="Name must be two words separated by space."
    />

    <input
      class="buy-form__input"
      type="tel"
      name="phone-number"
      placeholder="Phone"
      required
      pattern="[0-9+]+"
      title="Must be only phone-number."
    />

    <textarea
      class="buy-form__textarea"
      name="coment"
      rows="2"
      placeholder="Comment"
    ></textarea>

    <button class="buy-form__btn" type="submit">Submit</button>
  </form>
</div>
