<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">ice cream made with passion</h1>

    <ul class="hero__list--organization">
      <li class="hero__item">
        <p class="hero__quantity">16</p>
        <p class="hero__structure">cafes</p>
      </li>
      <li class="hero__item">
        <p class="hero__quantity">23</p>
        <p class="hero__structure">food trucks</p>
      </li>
    </ul>

    <ul class="hero__list--anchor">
      <li class="hero__item--anchor">
        <a class="btn-prod btn-prod--disabled" href="#products">Products</a>
      </li>
      <li class="hero__item--anchor">
        <a class="btn-made btn-made--disabled" href="#about">How it’s made?</a>
      </li>
    </ul>

    <div class="hero__thumb--paragraph">
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="btn-arrow--white" type="button">
        <svg class="btn-arrow__icon" width="40" height="20">
          <use href="./images/icon-img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>

    <div class="hero__image">
      <img
        class="hero__image--ice-cream"
        srcset="
          ./images/content-img/hero/hero-ice-cream_480@1x.png 276w,
          ./images/content-img/hero/hero-ice-cream_480@2x.png 551w
        "
        sizes="480px"
        src="./images/content-img/hero/hero-ice-cream_480@1x.png"
        alt="Smiling Ice-Cream"
      />
    </div>
  </div>
</section>
