<div class="modal-wrapper">
  <div class="modal locations__modal" data-modal="2">
    <button class="locations__modal--button js-modal-close" type="button">
      <svg width="16" height="16" class="locations__modal--closed">
        <use href="./images/icon-img/sprite.svg#close-blc"></use>
      </svg>
    </button>
    <strong class="locations__text">Our Locations</strong>
    <div class="locations__map">
      <iframe
        class="locations__map--sc"
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d82744.71146898674!2d34.5572386!3d49.6020445!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1665937257964!5m2!1sru!2sua"
        width=""
        height=""
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
    <div class="locations__box">
      <a
        class="locations__btn"
        href="https://goo.gl/maps/hrJjczV3KTrfCkTg8"
        target="_blank"
        title="Google maps"
        >Open map</a
      >
    </div>
  </div>
</div>
