<div class="locations locations__backdrop ">
    <div class="locations__modal modal">
        <button class="locations__modal--button" type="button"data-modal-close>
            <svg width="16" height="16">
                <use href="./images/icon-img/sprite.svg#close-blc"></use>
            </svg>
        </button>
        <p class="locations__text">
            Our Locations
        </p>
        <div class="locations__map">
            <iframe width="199" height="224" src="https://goo.gl/maps/hrJjczV3KTrfCkTg8">
            </iframe>
        </div>
        <div class="locations__box">
            <a class="locations__btn" href="https://goo.gl/maps/hrJjczV3KTrfCkTg8" target="_blank"
                title="Google maps">Open map </a>
        </div>
    </div>
</div>

