<div class="modal-wrapper">
  <div class="modal ingr-modal" data-modal="5">
    <button type="button" class="modal-close js-modal-close">
      <svg class="modal-close__icon" width="16" height="16">
        <use href="./images/icon-img/sprite.svg#close-blc"></use>
      </svg>
    </button>
    <h2 class="form__header ingr-form__header">Ice Coffee</h2>
    <div class="ingr-form__wrap">
      <div class="ingr-form__box ingr-form__box-2">
        <img
          class="ingr-form__img"
          srcset="
            ./images/content-img/ingredients-modal/ingridientsmodales@1x.jpg 1x,
            ./images/content-img/ingredients-modal/ingridientsmodales@2x.jpg 2x
          "
          src="./images/content-img/ingredients-modal/ingridientsmodales@1x.jpg"
          alt="three different ice creams"
        />
      </div>
    </div>
    <ul class="ingr-form__group">
      <li class="ingr-form__item ingr-form__item-2">
        <div class="ingr-form__amount ingr-form__amount-2">320</div>
        kcal
      </li>
      <li class="ingr-form__item ingr-form__item-2">
        <div class="ingr-form__amount ingr-form__amount-2">4g</div>
        Prote...
      </li>
      <li class="ingr-form__item ingr-form__item-2">
        <div class="ingr-form__amount ingr-form__amount-2">8,2g</div>
        Fats
      </li>
      <li class="ingr-form__item ingr-form__item-2">
        <div class="ingr-form__amount ingr-form__amount-2">40,4g</div>
        Carbs
      </li>
    </ul>
    <h3 class="ingr-form__subtitle">Ingredients</h3>
    <ul class="ingridients__names">
      <li class="ingridients__list">
        <span> Milk</span>
        <span>100ml</span>
      </li>
      <li class="ingridients__list">
        <span> Belgian chocolate</span>
        <span>20g</span>
      </li>
      <li class="ingridients__list">
        <span>Ice</span>
        <span>20g</span>
      </li>
      <li class="ingridients__list">
        <span>Cocoa powder</span>
        <span>30g</span>
      </li>
      <li class="ingridients__list">
        <span>Espresso</span>
        <span>40ml</span>
      </li>
      <li class="ingridients__list">
        <span>Vanilla sugar</span>
        <span>10g</span>
      </li>
    </ul>
    <form class="form">
      <div class="form__field">
        <input
          class="form__input"
          type="text"
          id="ingr-2-name"
          name="user-name"
          placeholder="Alan Black"
          required
          pattern="^[a-zA-Z]+"
          title="Name must be only one word."
        />
        <label class="form__label-text" for="ingr-2-name">Name*</label>
      </div>

      <div class="form__field">
        <input
          class="form__input"
          type="tel"
          id="ingr-2-tel"
          name="phone-number"
          placeholder="+380-1111111111"
          required
          pattern="^(?=.*\d)(?!.*\s).*$"
          title="Must be only phone-number."
        />
        <label class="form__label-text" for="ingr-2-tel">Phone*</label>
      </div>

      <div class="form__field">
        <textarea
          class="form__textarea"
          name="coment"
          id="ingr-2-message"
          rows="2"
          placeholder=" "
        ></textarea>
        <label class="form__label-text form__label-text--message" for="ingr-2-message"
          >Comment</label
        >
      </div>

      <button class="form__btn" type="submit" data-mobile-buy-open>
        Submit
      </button>
    </form>
  </div>
</div>
