<div class="backdrop is-hidden/" data-modal-buy>
  <div class="modal ingr-modal">
    <button type="button" class="modal-close" data-modal-buy-close>
      <svg class="modal-close__icon" width="16" height="16">
        <use href="./images/icon-img/sprite.svg#close-blc"></use>
      </svg>
    </button>

    <h2 class="form__header ingr-form__header">Chololate icecream</h2>

    <div class="ingr-form__wrap">
      <div class="ingr-form__box">
        <img
          class="ingr-form__img"
          srcset="
            ./images/content-img/ingredients-modal/ingredientsmodal@1x.jpg 1x,
            ./images/content-img/ingredients-modal/ingredientsmodal@2x.jpg 2x
          "
          src="./images/content-img/ingredients-modal/ingredientsmodal@1x.jpg"
          alt="three different ice creams"
        />
      </div>
    </div>

    <ul class="ingr-form__group">
      <li class="ingr-form__item">
        <div class="ingr-form__amount">320</div>
        kcal
      </li>
      <li class="ingr-form__item">
        <div class="ingr-form__amount">4g</div>
        Prote...
      </li>
      <li class="ingr-form__item">
        <div class="ingr-form__amount">8,2g</div>
        Fats
      </li>
      <li class="ingr-form__item">
        <div class="ingr-form__amount">40,4g</div>
        Carbs
      </li>
    </ul>

    <h3 class="ingr-form__subtitle">Ingredients</h3>

    <ul class="ingridients__names">
      <li class="ingridients__list">
        <p>Milk</p>
        <p>100ml</p>
      </li>
      <li class="ingridients__list">
        <p>Belgian chocolate</p>
        <p>20g</p>
      </li>
      <li class="ingridients__list">
        <p>Cream</p>
        <p>150 ml</p>
      </li>
      <li class="ingridients__list">
        <p>Cocoa powder</p>
        <p>30g</p>
      </li>
      <li class="ingridients__list">
        <p>Sugar</p>
        <p>40g</p>
      </li>
      <li class="ingridients__list">
        <p>Vanilla sugar</p>
        <p>10g</p>
      </li>
    </ul>

    <form class="form">
      <input
        class="form__input"
        type="text"
        name="user-name"
        placeholder="Name"
        required
        pattern="^[a-zA-Z]+"
        title="Name must be only one word."
      />

      <input
        class="form__input"
        type="tel"
        name="phone-number"
        placeholder="Phone"
        required
        pattern="^(?=.*\d)(?!.*\s).*$"
        title="Must be only phone-number."
      />

      <textarea
        class="form__textarea"
        name="coment"
        rows="2"
        placeholder="Comment"
      ></textarea>

      <button class="form__btn" type="submit" data-mobile-buy-open>
        Submit
      </button>
    </form>
  </div>
</div>
