<div class="modal-wrapper">
  <div class="modal ingr-modal" data-modal="6">
    <button type="button" class="modal-close js-modal-close">
      <svg class="modal-close__icon" width="16" height="16">
        <use href="./images/icon-img/sprite.svg#close-blc"></use>
      </svg>
    </button>
    <h2 class="form__header ingr-form__header">
      MILK <br />
      SHAKES
    </h2>
    <div class="ingr-form__wrap-3">
      <div class="ingr-form__box-3">
        <img
          class="ingr-form__img-3"
          srcset="
            ./images/content-img/ingredients-modal/ingridientsmodals@1x.jpg 1x,
            ./images/content-img/ingredients-modal/ingridientsmodals@2x.jpg 2x
          "
          src="./images/content-img/ingredients-modal/ingridientsmodals@1x.jpg"
          alt="three different ice creams"
        />
      </div>
    </div>
    <ul class="ingr-form__group-3">
      <li class="ingr-form__item-3">
        <div class="ingr-form__amount-3">420</div>
        kcal
      </li>
      <li class="ingr-form__item-3">
        <div class="ingr-form__amount-3">20g</div>
        Prote...
      </li>
      <li class="ingr-form__item-3">
        <div class="ingr-form__amount-3">40g</div>
        Fats
      </li>
      <li class="ingr-form__item-3">
        <div class="ingr-form__amount-3">47,4g</div>
        Carbs
      </li>
    </ul>
    <h3 class="ingr-form__subtitle-3">Ingredients</h3>
    <ul class="ingridients__names-3">
      <li class="ingridients__list-3">
        <span> Milk</span>
        <span>300ml</span>
      </li>
      <li class="ingridients__list-3">
        <span> Belgian chocolate</span>
        <span>20g</span>
      </li>
      <li class="ingridients__list-3">
        <span>ice-cream</span>
        <span>50g</span>
      </li>
      <li class="ingridients__list-3">
        <span>Cocoa powder</span>
        <span>30g</span>
      </li>
      <li class="ingridients__list-3">
        <span>Ice</span>
        <span>40ml</span>
      </li>
      <li class="ingridients__list-3">
        <span>Vanilla sugar</span>
        <span>10g</span>
      </li>
    </ul>
    <form class="form-3">
      <input
        class="form__input-3"
        type="text"
        name="user-name"
        placeholder="Name"
        required
        pattern="^[a-zA-Z]+"
        title="Name must be only one word."
      />
      <input
        class="form__input-3"
        type="tel"
        name="phone-number"
        placeholder="Phone"
        required
        pattern="^(?=.*\d)(?!.*\s).*$"
        title="Must be only phone-number."
      />
      <textarea
        class="form__textarea-3"
        name="coment"
        rows="2"
        placeholder="Comment"
      ></textarea>
      <button class="form__btn-3" type="submit" data-mobile-buy-open>
        Submit
      </button>
    </form>
  </div>
</div>
