<div class="modal-wrapper">
  <div class="modal modal-buy-form" data-modal="10">
    <button type="button" class="close-buy js-modal-close">
      <svg class="close-buy__icon" width="16" height="16">
        <use href="./images/icon-img/sprite.svg#close-blc"></use>
      </svg>
    </button>

    <form class="buy-form">
      <h2 class="buy-form__header">Buy now</h2>

      <div class="buy-form__wrapper">
        <input
          class="buy-form__check visually-hidden"
          type="checkbox"
          id="buy-cream"
        />
        <label class="buy-form__item buy-form__item--color-gr" for="buy-cream">
          <span class="buy-form__box buy-form__box--color-gr">
            <img
              class="buy-form__img"
              srcset="
                ./images/content-img/buynow-modal/buynowmodal-1@1x.png 1x,
                ./images/content-img/buynow-modal/buynowmodal-1@2x.png 2x
              "
              src="./images/content-img/buynow-modal/buynowmodal-1@1x.png"
              alt="three different ice creams"
            />
          </span>

          <strong class="buy-form__subtitle">ice cream</strong>
        </label>

        <input
          class="buy-form__check visually-hidden"
          type="checkbox"
          id="buy-ice"
        />
        <label class="buy-form__item buy-form__item--color-or" for="buy-ice">
          <span class="buy-form__box buy-form__box--color-or">
            <img
              class="buy-form__img"
              srcset="
                ./images/content-img/buynow-modal/buynowmodal-2@1x.png 1x,
                ./images/content-img/buynow-modal/buynowmodal-2@2x.png 2x
              "
              src="./images/content-img/buynow-modal/buynowmodal-2@1x.png"
              alt="a glass of milk coffee with ice"
            />
          </span>

          <strong class="buy-form__subtitle">ice coffee</strong>
        </label>

        <input
          class="buy-form__check visually-hidden"
          type="checkbox"
          id="buy-milk"
        />
        <label class="buy-form__item buy-form__item--color-br" for="buy-milk">
          <span class="buy-form__box buy-form__box--color-br">
            <img
              class="buy-form__img"
              srcset="
                ./images/content-img/buynow-modal/buynowmodal-3@1x.png 1x,
                ./images/content-img/buynow-modal/buynowmodal-3@2x.png 2x
              "
              src="./images/content-img/buynow-modal/buynowmodal-3@1x.png"
              alt="a glass of milkshake"
            />
          </span>

          <strong class="buy-form__subtitle">milkshakes</strong>
        </label>
      </div>

      <div class="form__field form__field--buy">
        <input
          class="form__input"
          type="text"
          id="buy-name"
          name="user-name"
          placeholder="Alan Black"
          required
          pattern="^[a-zA-Z]+"
          title="Name must be only one word."
        />
        <label class="form__label-text" for="buy-name">Name*</label>
      </div>

      <div class="form__field form__field--buy">
        <input
          class="form__input"
          type="tel"
          id="buy-tel"
          name="phone-number"
          placeholder="+380-1111111111"
          required
          pattern="^(?=.*\d)(?!.*\s).*$"
          title="Must be only phone-number."
        />
        <label class="form__label-text" for="buy-tel">Phone*</label>
      </div>

      <div class="form__field form__field--buy">
        <textarea
          class="form__textarea"
          name="coment"
          id="buy-message"
          rows="2"
          placeholder=" "
        ></textarea>
        <label
          class="form__label-text form__label-text--message"
          for="buy-message"
          >Comment</label
        >
      </div>

      <button class="form__btn" type="submit" data-mobile-buy-open>
        Submit
      </button>
    </form>
  </div>
</div>
