<section class="products" id="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>

    <ul class="products__list">
      <li class="products__list-item">
        <div class="products__box-wraper">
          <div class="products__bg-box-first">
            <div class="products__img-box">
              <img
                class="products__img"
                srcset="
                  ./images/content-img/products/products-1_480@1x.png  200w,
                  ./images/content-img/products/products-1_1200@1x.png 300w,
                  ./images/content-img/products/products-1_480@2x.png  400w,
                  ./images/content-img/products/products-1_1200@2x.png 600w
                "
                sizes="(min-width: 1200px) 300px, (min-width: 768px) 200px, (min-width: 480px) 200px, 100vw"
                src="./images/content-img/products/products-1_480@1x.png"
                alt="three different ice creams"
              />
            </div>
          </div>
        </div>

        <div class="products__description">
          <h3 class="products__description-title">ice cream</h3>
          <p class="products__description-text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button
            class="btn-arrow btn-arrow--products js-open-modal"
            aria-label="Plate animation start"
            type="button"
            data-modal="4"
          >
            <svg class="btn-arrow__icon" width="40" height="20">
              <use href="./images/icon-img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__list-item">
        <div class="products__box-wraper">
          <div class="products__bg-box-second">
            <div class="products__img-box">
              <img
                class="products__img"
                srcset="
                  ./images/content-img/products/products-2_480@1x.png  200w,
                  ./images/content-img/products/products-2_1200@1x.png 300w,
                  ./images/content-img/products/products-2_480@2x.png  400w,
                  ./images/content-img/products/products-2_1200@2x.png 600w
                "
                sizes="(min-width: 1200px) 300px, (min-width: 768px) 200px, (min-width: 480px) 200px, 100vw"
                src="./images/content-img/products/products-2_480@1x.png"
                alt="a glass of milk coffee with ice"
              />
            </div>
          </div>
        </div>

        <div class="products__description">
          <h3 class="products__description-title">ice coffee</h3>
          <p class="products__description-text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button
            class="btn-arrow btn-arrow--products js-open-modal"
            aria-label="Plate animation start"
            type="button"
            data-modal="5"
          >
            <svg class="btn-arrow__icon" width="40" height="20">
              <use href="./images/icon-img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__list-item">
        <div class="products__box-wraper">
          <div class="products__bg-box-last">
            <div class="products__img-box">
              <img
                class="products__img"
                srcset="
                  ./images/content-img/products/products-3_480@1x.png  200w,
                  ./images/content-img/products/products-3_1200@1x.png 300w,
                  ./images/content-img/products/products-3_480@2x.png  400w,
                  ./images/content-img/products/products-3_1200@2x.png 600w
                "
                sizes="(min-width: 1200px) 300px, (min-width: 768px) 200px, (min-width: 480px) 200px, 100vw"
                src="./images/content-img/products/products-3_480@1x.png"
                alt="a glass of milkshake"
              />
            </div>
          </div>
        </div>

        <div class="products__description">
          <h3 class="products__description-title">milkshakes</h3>
          <p class="products__description-text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button
            class="btn-arrow btn-arrow--products js-open-modal"
            aria-label="Plate animation start"
            type="button"
            data-modal="6"
          >
            <svg class="btn-arrow__icon" width="40" height="20">
              <use href="./images/icon-img/sprite.svg#arrow"></use>
            </svg>
          </button>
          <!-- </button> -->
        </div>
      </li>
    </ul>
  </div>
</section>
