<section class="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>

    <ul class="products__list">
      <li class="products__list-item">
        <div class="products__box-wraper">
          <div class="products__bg-box"></div>
          <div class="products__img-box">
            <img class="products__img"
              src="./images/content-img/products/products-1_1200@1x.png"
              alt="three different ice creams"
              width="200"
              height="200"
            />
          </div>
        </div>
        

        <div class="products__description">
          <h3 class="products__description-title">ice cream</h3>
          <p class="products__description-text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="btn-arrow" type="button">
            <svg class="btn-arrow__icon" width="40" height="20">
              <use href="./images/icon-img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__list-item">
        <div class="products__img-box">
          <img class="products__img"
            src="./images/content-img/products/products-2_1200@1x.png"
            alt="a glass of milk coffee with ice"
            width="200"
            height="200"
          />
        </div>

        <div class="products__description">
          <h3 class="products__description-title">ice coffee</h3>
          <p class="products__description-text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="btn-arrow" type="button">
            <svg class="btn-arrow__icon" width="40" height="20">
              <use href="./images/icon-img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__list-item">
        <div class="products__img-box">
          <img class="products__img"
            src="./images/content-img/products/products-3_1200@1x.png"
            alt="a glass of milkshake"
            width="200"
            height="200"
          />
        </div>

        <div class="products__description">
          <h3 class="products__description-title">milkshakes</h3>
          <p class="products__description-text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="btn-arrow" type="button">
            <svg class="btn-arrow__icon" width="40" height="20">
              <use href="./images/icon-img/sprite.svg#arrow"></use>
            </svg>
          </button>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
