<div class="modal-wrapper">
  <div class="read-modal modal" data-modal="3">
    <button class="read-close js-modal-close" type="button">
      <svg class="read-close__icon" width="16" height="16">
        <use href="./images/icon-img/sprite.svg#close-blc"></use>
      </svg>
    </button>
    <div class="read-form">
      <h2 class="read-form__header">How it’s made?</h2>
      <div class="read-modal__wrapper">
        <iframe
          class="iframe-container"
          src="https://www.youtube.com/embed/8WEMZ86Eho8"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>

      <p class="read-modal__text">
        Ice cream today is made much the way it was when Philadelphian Nancy
        Johnson invented a hand-cranked ice cream freezer back in the 1840s. The
        ice cream ingredients of milk, cream, sugar and flavoring get whipped
        around (and thus aerated) by a blade in a tube that is chilled from the
        outside.
      </p>
    </div>
  </div>
</div>
