<div class="backdrop is-hidden" data-modal>
    <div class="read-modal">
        <button class="read-close" type="button" data-modal-close>
            <svg class="read-close__icon" width="16" height="16">
              <use href="./images/icon-img/sprite.svg#vector"></use>
            </svg>
          </button>
          <div class="read-form"></div>
          <strong class="read-form__header">How it’s made?</strong>
            <iframe class="iframe-container"
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/8WEMZ86Eho8" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
            <p class="read-modal__text">
                Ice cream today is made much the way it was when Philadelphian Nancy Johnson invented a hand-cranked ice cream freezer back in the 1840s. The ice cream ingredients of milk, cream, sugar and flavoring get whipped around (and thus aerated) by a blade in a tube that is chilled from the outside.
            </p>
        </div>
    </div>
</div>

<script src="./js/modal.js"></script>
