.locations__modal {
  display: table;

  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);

  padding: 28px;

  width: 280px;
  height: 365px;

  background-color: $bg-modal-location-color;
  border: 2px solid $frame-modal-color;
  border-radius: 10px;

  transition: background-color $animation;

  //tablet and desctop
  @media screen and(min-width:768px) {
    padding: 32px 60px;
    width: 568px;
    height: 458px;
  }
}

.locations__modal--button {
  position: fixed;
  top: 8px;
  right: 8px;
  padding: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: transparent;
  border: none;
  
  cursor: url(../images/icon-img/cursor-hover.png), pointer;
  transition: transform $animation;
  
  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    }
  
    &:hover,
    &:focus {
      transform: scale(1.5);
    }


  //position: absolute;
  //top: 8px;
  //right: 8px;

  //border-radius: 50%;
  //border: transparent;

  //display: flex;
  //align-items: center;
  //justify-content: center;

  //background-color: transparent;
  //cursor: url(../images/icon-img/cursor-hover.png), pointer;
}

.locations__modal--closed {
  width: 16px;
  height: 16px;

  //tablet and desctop
  @media screen and(min-width:768px) {
    width: 20px;
    height: 20px;
  }
}

.locations__text {
  @include font-source(16px, calc(24 / 16) 400);
  font-family: 'Seymour One';

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 20px;

  color: $txt-primary-color;

  //tablet and desctop
  @media screen and(min-width:768px) {
    @include font-source(20px, calc(28 / 20) 400);
  }
}

.locations__map {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  //tablet and desctop
  @media screen and(min-width:768px) {
    margin-bottom: 32px;
  }
}

.locations__map--sc {
  width: 199px;
  height: 224px;
  margin-bottom: 0px;
  border-radius: 10px;

  //tablet and desctop
  @media screen and(min-width:768px) {
    width: 448px;
    height: 260px;
  }
}

.locations__box {
  display: flex;
  justify-content: center;
}

.locations__btn {
  @include font-source(12px, calc(15 / 12));
  font-weight: 600;

  padding: 12px 32px;

  color: $txt-primary-color;

  min-width: 134px;
  height: 42px;

  background-color: $btn-def-color;
  transition: background-color $animation;

  border: transparent;
  border-radius: 10px;

  cursor: url(../images/icon-img/cursor-hover.png), pointer;

    &:hover,
    &:focus {
      background-color: $btn-accent-color;
      color: $txt-secondary-color;
      }

  //tablet and desctop
  @media screen and(min-width:768px) {
    @include font-source(14px, calc(17 / 14));
    padding: 12px 34px;

    min-width: 145px;
  }
}
