.ingr-modal {
  padding: 28px 20px;

  width: 280px;

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  @media screen and(min-width:768px) {
    width: 568px;
    padding: 32px 40px;
  }
}

.ingr-form__header {
  font-size: 20px;
  line-height: calc(28 / 20);
  margin-bottom: 30px;
}
.ingr-form__wrap {
  position: relative;
  width: 132px;
  height: 132px;
  margin: 24px auto;
}
.ingr-form__box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.ingr-form__img {
  position: absolute;
  border-radius: 50%;

  transform: translateY(-10px);
}
.ingr-form__group {
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-bottom: 39px;
}
.ingr-form__item {
  position: relative;
  width: 53px;
  min-height: 70px;
  padding-top: 52px;
  padding-bottom: 4px;
  text-align: center;
  border: 2px solid #9cbe8f;
  border-radius: 40px;

  font-size: 10px;
  line-height: calc(12 / 10);
}
.ingr-form__amount {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 43px;
  height: 43px;
  border-radius: 50%;
  padding-top: 4px;
  background-color: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  font-weight: 500;
  font-size: 10px;
  line-height: calc(28 / 10);
}
.ingr-form__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);

  text-align: center;
  margin-bottom: 24px;
}
.ingridients__names {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.ingridients__list {
  font-size: 14px;
  line-height: 176%;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.04em;
}

/**
  |============================
  | Спільні стилі модалки
  |============================
*/

// modal common

// .modal {
//   position: absolute;
//   z-index: 3;
//   top: 0;
//   left: 50vw;
//   transform: translateX(-50%);
//   transform: translateY(-50%);
//   width: 280px;
//   padding: 28px;
//   background: #fcfcfc;
//   border: 2px solid #f8d24e;
//   border-radius: 10px;
//   @media screen and(min-width:768px) {
//     width: 568px;
//     padding: 32px 0;
//   }
// }

.modal-close {
  position: fixed;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: url(../images/icon-img/cursor-hover.png), pointer;
  transition: transform $animation;
  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}
.modal-close__icon {
  width: 16px;
  height: 16px;
  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}
// form common
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__header {
  font-family: 'Seymour One';
  font-weight: 400;
  text-align: center;
}
.form__input {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  font-family: 'Montserrat';
  color: $txt-primary-color;
  font-size: 12px;
  line-height: 140%;
  transition: background-color $animation;
  &::placeholder {
    font-family: 'Montserrat';
    color: $txt-primary-color;
    font-size: 12px;
    line-height: 140%;
  }
  &:not(:placeholder-shown):required:invalid {
    background-color: rgba(255, 0, 0, 0.3);
  }
  @media screen and(min-width:768px) {
    margin-bottom: 16px;
    width: 368px;
  }
}
.form__textarea {
  width: 100%;
  height: 64px;
  padding: 8px 12px;
  margin-bottom: 24px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  font-family: 'Montserrat';
  color: $txt-primary-color;
  font-size: 12px;
  line-height: 140%;
  resize: none;
  &::placeholder {
    font-family: 'Montserrat';
    color: $txt-primary-color;
    font-size: 12px;
    line-height: 140%;
  }
  @media screen and(min-width:768px) {
    margin-bottom: 32px;
    width: 368px;
    height: 84px;
  }
}
.form__btn {
  @extend %btn;
  font-size: 12px;
  line-height: calc(15 / 12);
  border: 2px solid $btn-def-color;
  background-color: $btn-def-color;
  cursor: url(../images/icon-img/cursor-hover.png), pointer;
  margin-right: auto;
  margin-left: auto;
  transition: background-color $animation, border-color $animation,
    color $animation;
  &:hover {
    border-color: $btn-accent-color;
    background-color: $btn-accent-color;
  }
  &:focus {
    outline-color: $btn-accent-color;
    background-color: $btn-accent-color;
    color: $txt-secondary-color;
  }
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
