// modal buy now

.modal-buy-form {
  width: 280px;
  padding: 28px 0;

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  @media screen and(min-width:768px) {
    width: 568px;
    padding: 32px 0;
  }
}

.close-buy {
  position: fixed;
  top: 8px;
  right: 8px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;

  cursor: url(../images/icon-img/cursor-hover.png), pointer;
  transition: transform $animation;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }

  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.close-buy__icon {
  width: 16px;
  height: 16px;

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.buy-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 84px;

  @media screen and( min-width:768px  ) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.buy-form__header {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28 / 20);
  text-align: center;

  margin-bottom: 84px;

  @media screen and(min-width:768px) {
    margin-bottom: 103px;
  }
}

.buy-form__item {
  position: relative;

  text-align: center;
  width: 134px;
  min-height: 136px;

  border-radius: 10px;

  padding-top: 96px;
  padding-bottom: 20px;

  transition: background-color $animation, transform $animation;
  cursor: url(../images/icon-img/cursor-hover.png), pointer;

  &--color-gr {
    border: 2px solid #aec6a5;
  }

  &--color-or {
    border: 2px solid #efd478;
  }

  &--color-br {
    border: 2px solid #d6936d;
  }

  @media screen and( max-width:767px ) {
    &:last-child {
      margin-bottom: 30px;
    }
  }
}

.buy-form__check:checked + .buy-form__item {
  transform: scale(1.1);
  &--color-gr {
    background-color: #aec6a5;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  &--color-or {
    background-color: #efd478;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  &--color-br {
    background-color: #d6936d;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }
}

.buy-form__box {
  position: absolute;
  left: 0;
  transform: translateY(-150px);

  width: 132px;
  height: 132px;
  border-radius: 50%;

  &--color-gr {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  &--color-or {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  &--color-br {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }
}

.buy-form__img {
  position: absolute;

  transform: translateY(-10px);
}

.buy-form__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.form__field--buy {
  margin-bottom: 25px;
}

// .buy-form__input {
//   width: 224px;
//   padding: 8px 12px;
//   margin-bottom: 12px;

//   background: rgba(248, 210, 78, 0.1);
//   border: 1px solid #84a178;
//   border-radius: 10px;

//   font-family: 'Montserrat';
//   color: $txt-primary-color;

//   font-size: 12px;
//   line-height: 140%;

//   transition: background-color $animation;

//   &::placeholder {
//     font-family: 'Montserrat';
//     color: $txt-primary-color;

//     font-size: 12px;
//     line-height: 140%;
//   }

//   &:not(:placeholder-shown):required:invalid {
//     background-color: rgba(255, 0, 0, 0.3);
//   }

//   @media screen and( min-width:768px ) {
//     margin-bottom: 16px;
//     width: 368px;
//   }
// }

// .buy-form__textarea {
//   width: 224px;
//   height: 64px;
//   padding: 8px 12px;
//   margin-bottom: 24px;

//   background: rgba(248, 210, 78, 0.1);
//   border: 1px solid #84a178;
//   border-radius: 10px;

//   font-family: 'Montserrat';
//   color: $txt-primary-color;

//   font-size: 12px;
//   line-height: 140%;

//   resize: none;

//   &::placeholder {
//     font-family: 'Montserrat';
//     color: $txt-primary-color;

//     font-size: 12px;
//     line-height: 140%;
//   }

//   @media screen and(min-width:768px) {
//     margin-bottom: 32px;
//     width: 368px;
//     height: 84px;
//   }
// }

// .buy-form__btn {
//   @extend %btn;

//   font-size: 12px;
//   line-height: calc(15 / 12);

//   border: 2px solid $btn-def-color;
//   background-color: $btn-def-color;
//   cursor: url(../images/icon-img/cursor-hover.png), pointer;

//   margin-right: auto;
//   margin-left: auto;

//   transition: background-color $animation, border-color $animation,
//     color $animation;
//   &:hover {
//     border-color: $btn-accent-color;
//     background-color: $btn-accent-color;
//   }

//   &:focus {
//     outline-color: $btn-accent-color;
//     background-color: $btn-accent-color;
//     color: $txt-secondary-color;
//   }

//   @media screen and(min-width:768px) {
//     font-size: 14px;
//     line-height: calc(17 / 14);
//   }
// }
