
  .ingr-form__box-3 {
   
    background: linear-gradient(
        0deg,
        rgba(209, 98, 7, 0.7),
        rgba(209, 98, 7, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(175, 79, 24, 0.25);
  }

  .ingr-form__item-3 {
   
    border: 2px solid #d6936d;
    
  }
  
  .ingr-form__amount-3 {
  
  
    background-color: #d6936d;
    border: 2px solid #d6936d;
    box-shadow: 0px 6px 20px rgba(156, 76, 1, 0.25);

  }
