.overlay {
  /* Приховування підкладки  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  transition: 0.3s all;

  overflow-y: scroll;
}

/* Стилі модалки */

.modal {
  /* Приховування вікна  */
  opacity: 0;
  visibility: hidden;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300; /* Має бути вищим ніж у підкладки*/
}

/* Обгортка для позиціонування модалки */

.modal-wrapper {
  position: relative;
}

/* Стилі для активних класів підложки та вікна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стилі для кнопки закривання */

// .modal__cross {
//   width: 15px;
//   height: 15px;
//   position: absolute;
//   top: 20px;
//   right: 20px;
//   fill: #444;
//   cursor: pointer;
// }
