.advantages {
  //phone
  margin-top: -1px;
  margin-bottom: -1px;
  padding-top: 21px;
  padding-bottom: 18px;
  background-color: $bg-secondary-color;

  //tablet
  @media screen and(min-width:768px) {
    padding-top: 24px;
    padding-bottom: 20px;
  }

  //desctop
  @media screen and(min-width:1200px) {
    padding-top: 30px;
    padding-bottom: 43px;
  }
}

.advantages__list {

  @media screen and(max-width:767px){
    padding-left: 25px;
    padding-right: 25px;

  }


  //tablet
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;

    margin-left: auto;
    margin-right: auto;

    width: 616px;

    justify-content: center;
  }

  //desctop
  @media screen and(min-width:1200px) {
    column-gap: 30px;

    width: 1168px;
  }
}
.advantages__item:not(:last-child) {
  //phone

  @media screen and(max-width:767px) {
    margin-bottom: 27px;
  }
}

.advantages__item {
  //tablet
  @media screen and(min-width:768px) {
    flex-basis: calc((100% - (80px * (3 - 1))) / 3);
  }

  //desctop
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - (30px * (3 - 1))) / 3);
  }
}
.advantages__item::before {
  content: '';

  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  background-color: $bg-png-color;

  //tablet

  @media screen and(min-width:768px) {
    margin-bottom: 32px;
  }

  //desctop
  @media screen and(min-width:1200px) {
    margin-bottom: 40px;
  }
}

.cow__img::before {
  background-image: url('../images/content-img/advantages/advantages-1@1x.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/content-img/advantages/advantages-1@2x.png');
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
}

.gantel__img::before {
  background-image: url('../images/content-img/advantages/advantages-2@1x.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/content-img/advantages/advantages-2@2x.png');
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
}

.ice__img::before {
  background-image: url('../images/content-img/advantages/advantages-3@1x.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/content-img/advantages/advantages-3@2x.png');
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
}

.advantages__quantity {
  //phone
  @include font-source(36px, calc(42 / 36), 700);
  font-family: 'Roboto';

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 18px;

  color: $txt-secondary-color;

  //tablet

  @media screen and(min-width:768px) {
    @include font-source(48px, calc(59 / 48));
    margin-bottom: 16px;
  }

  //desctop
  @media screen and(min-width:1200px) {
    @include font-source(58px, calc(71 / 58));
  }
}

.advantages__subtitle {
  //phone
  @include font-source(12px, calc(20 / 12), 700);

  text-align: center;

  color: $txt-secondary-color;

  margin-left: auto;
  margin-right: auto;

  width: 230px;

  //tablet
  @media screen and(min-width:768px) {
    @include font-source(14px, calc(24 / 14), 400);
    width: 152px;
  }

  //desctop
  @media screen and(min-width:1200px) {
    @include font-source(16px, calc(28 / 16), 400);
    letter-spacing: 0.02em;
    width: 368px;
  }
}
