.footer {
  padding-top: 20px;
  padding-bottom: 62px;
  background-color: $bg-primary-color;
  @media screen and (min-width: 768px) {
    padding-bottom: 13px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 11px;
  }


  &__group {
    width: 234px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 42px;
    color: $txt-secondary-color;
  
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: wrap;
      padding-bottom: 42px;
      margin-bottom: 0px;
      width: 352px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 54px;
      width: 504px;

    }

  }


  &__subtitle-lg {
    width: 250px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  
    @media screen and (min-width: 768px) {
      width: 352px;
      font-size: 26px;
      line-height: 1.23;
    }
  
    @media screen and (min-width: 1200px) {
      width: 504px;
    }
  }

  &__subtitle-sm {
    width: 200px;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  
    @media screen and (min-width: 768px) {
      width: 340px;
      font-size: 48px;
      line-height: 1.22;
      letter-spacing: 0.06em;
    }
    @media screen and (min-width: 1200px) {
      width: 497px;
    }
  }

  &__column {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid #e1e1e1;
    }
  }


  
}

.footer-social__item {
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}
.footer-social__list {
  display: flex;
  margin-bottom: 38px;
  justify-content: right;
  gap: 28px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}



// contact
.footer-contact {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  justify-content: right;
  line-height: 1.86;
  color: $txt-primary-color;

  // горизонтальная линия на весь контейнер
  
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    text-align: right;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer-social-wrapper {
  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    padding-top: 88px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 0px;
  }
}

.footer-contact__link {
  color: rgba(252, 252, 252, 1);
  cursor: url(../images/icon-img/cursor-hover.png), pointer;
}

.footer-aside__title {
  width: 280px;
  text-align: center;
  margin: auto;
  padding-top: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #7a7a7a;

  @media screen and (min-width: 768px) {
    width: 298px;

    line-height: 1.86;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 1200px) {
    width: 255px;
    margin-left: 475px;
    font-size: 12px;
  }
}

.footer-social__link {
  display: block;
  fill: $bg-primary-color;
  cursor: url(../images/icon-img/cursor-hover.png), pointer;

  transition: fill $animation, transform $animation;
}

.footer-social__link:hover {
  fill: $txt-secondary-color;
}

.footer-social__link:focus {
  transform: scale(1.2);
  fill: $txt-secondary-color;
}
