.gallery {
  padding-top: 18px;
  padding-bottom: 40px;

  @media screen and (min-width: $md) {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: $lg) {
    padding-top: 43px;
    padding-bottom: 64px;
  }
}

// .gallery__list {
//   }
// .gallery__item {
// }

.gallery__img {
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;
  overflow: hidden;

  @media screen and (min-width: $md) {
    border-radius: 18px;
  }

  @media screen and (min-width: $lg) {
    border-radius: 24px;
  }
}

.btn__slick-right,
.btn__slick-left {
  padding: 0;
  width: 1px;
  height: 1px;
  border: none;
  background-color: transparent;
}
