.header{
    background-color: $bg-primary-color; 
   
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 20px;

    @media screen and (min-width: 768px) {
        padding: 20px 32px;
    }

    
}

.header__nav{
    display: none;
}

.header__buttons{
    @media screen and(min-width: 768px){
        display: flex;
        align-items: center;
    }
    
}

.header__btn{
    display: none;

    @media screen and(min-width:768px) {
        display: flex;
        margin-left: 32px;
    }
}

.btn-burger{
    display: block;

    background-color: transparent;
    border: none;
    padding: 0;
    width: 32px;
    height: 32px;
}