.hero {
  background-color: $bg-secondary-color;
  padding-top: 61px;
  @media screen and (min-width: 768px) {
      padding-top: 86px;
    }
  
    @media screen and (min-width: 1200px) {
      padding-top: 81px;
    }
}
