#products {
  border-top: 61px solid transparent;
  margin-top: -61px;
  background-clip: padding-box;

  @media screen and (min-width: 768px) {
    border-top: 86px solid transparent;
    margin-top: -86px;
    background-clip: padding-box;
  }

  @media screen and (min-width: 1200px) {
    border-top: 81px solid transparent;
    margin-top: -81px;
    background-clip: padding-box;
  }
}

.products {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;

  text-align: center;

  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;

  background-image: url('../images/content-img/products-background/products-bg_1920@1x.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/content-img/products-background/products-bg_1920@2x.png');
  }



  &__subtitle {
    font-weight: 800;
    font-size: 18px;
    line-height: calc(22px / 18px);
    text-align: center;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: calc(27px / 18px);
    }

    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: calc(37px / 30px);
      letter-spacing: 0.04em;
    }
  }

  &__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38px / 30px);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;

    margin-bottom: 140px;

    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: calc(43px / 34px);
      margin-bottom: 180px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: calc(45px / 36px);
      letter-spacing: 0.06em;
      margin-bottom: 270px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 156px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      gap: 16px;
    }
  }

  &__list-item {
    background: #efd478;
    border-radius: 24px;
    width: 280px;

    @media screen and (min-width: 768px) {
      width: 224px;
      display: flex;
      flex-direction: column;
      height: auto;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }

  &__list-item:first-child {
    background: #aec6a5;
  }
  &__list-item:last-child {
    background: #d6936d;
  }

  &__box-wraper {
    position: relative;
    bottom: 100px;
    margin-bottom: -80px;

    @media screen and (min-width: 1200px) {
      bottom: 150px;
      margin-bottom: -100px;
    }
  }
  &__bg-box-first {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    position: relative;
    @media screen and (min-width: 1200px) {
      width: 300px;
      height: 300px;
    }
  }
  &__bg-box-second {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    position: relative;
    @media screen and (min-width: 1200px) {
      width: 300px;
      height: 300px;
    }
  }
  &__bg-box-last {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    position: relative;

    @media screen and (min-width: 1200px) {
      width: 300px;
      height: 300px;
    }
  }

  &__img-box {
    position: absolute;
    bottom: 10px;
  }

  &__img {
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
      width: 300px;
      height: 300px;
    }
  }

  &__description {
    padding-left: 40px;
    padding-right: 40px;

    @media screen and (min-width: 768px) {
      padding-left: 26px;
      padding-right: 26px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    @media screen and (min-width: 1200px) {
      padding-left: 64px;
      padding-right: 64px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  &__description-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24px / 20px);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;

    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: calc(27px / 22px);
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 65px;
    }
  }

  &__description-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #131313;
    margin-bottom: 90px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }

  .btn-arrow--products {
    margin-top: auto;

    @media screen and (min-width: 768px) {
      padding-top: 60px;
    }

    @media screen and (min-width: 1200px) {
      padding-bottom: 60px;
      padding-top: 70px;
    }
  }
  .btn-arrow--products:hover,
  .btn-arrow--products:focus {
    cursor: url(../images/icon-img/cursor-hover.png), pointer;
  }
}
